name: PR check
on: pull_request

jobs:
    tests:
        runs-on: ubuntu-22.04
        steps:
            - name: Checkout repository
              uses: actions/checkout@v3
            - name: Setup NodeJS
              run: |
                  sudo snap install node --channel=16/stable --classic
                  npm install -g typescript
                  npm install -g ts-node
            - name: Install project dependencies
              run: yarn
            - name: Run ght tests
              run: npm run test
